<div id="header">
  <div class="container">

    <div class="header-text">
      <h1>Welcome To
        <span class="highlighted-text">
          <div class="ball">B</div>
          <div class="ball">E</div>
          &nbsp;
          <div class="ball">F</div>
          <div class="ball">A</div>
          <div class="ball">R</div>
          <div class="ball">M</div>
          <div class="ball">E</div>
          <div class="ball">R</div>
        </span>
      </h1>
    </div>
    <br>
    <br>
    <span class="profile-role-tagline">
      Knack of building applications with front and back end
      operations.
    </span>
  </div>
</div>
<!-- --------------------------- About Me-------------------------->

<div class="container">
  <div class="row">
    <h1>About Us</h1>
    <div class="col-md-3 about">
      <div class="card">

        <img src="../../assets/images/pic3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">user name 1</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 about">
      <div class="card">
        <img src="../../assets/images/pic3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">user name 2</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>

        </div>
      </div>
    </div>
    <div class="col-md-3 about">
      <div class="card">
        <img src="../../assets/images/pic3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">user name 3</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>

        </div>
      </div>
    </div>
    <div class="col-md-3 about">
      <div class="card">
        <img src="../../assets/images/pic3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">user name 4</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- --------------------contact----------------------------- -->
<div class="container">
  <div class="row">
    <h1>Featured Lands</h1>
    <div class="col-md-3" *ngFor=" let i of getdata">
      <div class="card">
        <img src="../../assets/images/{{i.img}}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{i.username | uppercase}}</h5>
          <div class="card-text">
            <p>AREA: {{i.area}} Acres</p>
            <p>SOIL: {{i.soil}}</p>
            <p>DISTRICT: {{i.district}}</p>
            <p>₹: {{i.amount}} / Year</p> 
          </div>
          <button class="btn btn-primary"  routerLink="/view" routerLinkActive="active" (click)="selItem(i)">View</button>
        </div>
      </div>
    </div>
    <button type="button" class="btn" routerLink="/cart" routerLinkActive="active">View All Lands</button>
  </div>
</div>



<!-- --------------------- list------------------------------------- -->
<div id="contact">
  <div class="container">
    <div class="row">
      <h1 class="sub-title">WE WILL BE HAPPY TO HELP</h1>
      <div class="contact-left">

        <p>Our team is ready to answer any questions you have about Land</p>
        <h3> chipparakesh27@gmail.com </h3>

        <p> <span> +91 1234567890 </span> <br> Speak with one of our customer support executive</p>

        <p><span> View FAQs </span><br> Find answers to frequently asked questions</p>

      </div>

      <div class="contact-right">
        <form>
          <input type="text" name="Name" placeholder="Your Name" required>
          <input type="email" name="Email" placeholder="Your Email" required>
          <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
          <button type="submit" class="btn btn2">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>