  <nav>
    <label class="logo">BE FARMER</label>
    <div class="button-box">
        <button type="button" class="toggle-btn"  routerLink="/tenent"  routerLinkActive="active">Tenent</button>
        <button type="button" class="toggle-btn" routerLink="/landlord"  routerLinkActive="active">Landlord</button>
        <button type="button" class="toggle-btn" routerLink="/login"  routerLinkActive="active">Login</button> 
  </div>

    <ul id="sidemenu">
        <li><a href="#contact">+91 6303396201</a></li>
    </ul>
  </nav>
  

  <router-outlet></router-outlet>

