.logo{
    padding-left: 20px;
    width: 150px;
    font-size: 20px;
    color: #00ff48;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    background: #0007;
    border-radius:20px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
nav .fas{
    display: none;
}

.toggle-btn{
    padding: 10px 35px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: #fff;
  }
  .button-box{
    width: 330px;
    margin: 0 auto;
    position: relative;
    box-shadow:  0 0 20px 9px #ff61241f;
    border-radius: 30px;
  
  }

.active{
  background:
     linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
}